<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home | Dotplot PNG generator</title>
    <meta name="author" content="Kalle Fruitema">
    <meta name="keywords" content="Bio-Informatics">
    <meta name="description" content="Dotplot PNG generator">
    <link rel="icon" type="image/png" href="../static/web_img/matrix_icon.png">
    <link rel="stylesheet" type="text/css" href="../static/style.css">
</head>
<body>
    <form method="POST">
        <input type="text" id="seq1", name="seq1">
        <label for="seq1">Sequentie 1</label><br>
        <input type="text" id="seq2", name="seq2">
        <label for="seq2">Sequentie 2</label><br>
        <input type="radio" name="seqtype" value="aaseq">Aminoacid sequence<br>
        <input type="radio" name="seqtype" value="ntseq">Nucleotide sequence<br>
        <select name="matrix_type">
            <option value="pairwise">Pairwise alignment</option>
            <option value="direct_check">Direct check alignment</option>
        </select><br>
        <input type="checkbox" id="pairwise_type" name="pairwise_type" value="S-W">
        <label for="pairwise_type">Local alignment (pairwise only)</label>
        <button type="submit">Calculate</button>
        {% if error %}
            <p style="color: red;">{{ error }}</p>
        {% endif %}
    </form>
</body>
</html>